body{
    background-color: white;
}

/*头部样式*/
#head{
    width: 100%;
    height: 0.94rem;
    background-color: #05A9FF;
    font-size: 0.36rem;
    color: #ffffff;
    line-height: 0.94rem;
    padding: 0 0.15rem;
}
.back{
    width: 15%;
    height: 100%;
    font-size: 0.38rem;
    color: white;
    float: left;
    text-align: left;
}
.head-title{
    width: 70%;
    float: left;
    text-align: center;
}
.login{
    width: 15%;
    height: 100%;
    color: white;
    float: left;
    text-align: right;
}

/*验证手机号样式*/
#ForgetPass{
    width: 100%;
    padding: 1.6rem 0;
}
.ForgetPass ul{
    border-top: 0.01rem solid #dddddd;
}
.ForgetPass ul>li{
    height: 1rem;
    border-bottom: 0.01rem solid #dddddd;
    padding: 0.1rem 0.5rem;
}
input[type='text'],input[type='password']{
    width: 100%;
    outline: none;
    border: none;
    float: left;
    line-height: 0.8rem;
    font-size: 0.34rem;
    color: #575757;
}
.ImgCode,.code{
    width: 60%!important;
}
.ImgCodeBox{
    width: 30%;
    float: right;
    height: 0.8rem;
    padding: 0.1rem 0;
}
.sendImgCode{
    width: 95%;
    height: 0.6rem;
    background-color: #40c6f3;
    float: right;
    border-radius: 0.1rem;
    color: white;
    font-size: 0.42rem;
    text-align: center;
}
.codeBox{
    width: 30%;
    float: right;
    height: 0.8rem;
    padding: 0.15rem 0;
}
.sendCode{
    display: block;
    font-size: 0.28rem;
    color: #a07941;
    padding: 0.08rem 0.16rem;
    border: 0.02rem solid #a07941;
    border-radius: 0.3rem;
    text-align: center;
}
.sendBtn{
    background-color: #d1d1d1;
    border: 0.02rem solid #d1d1d1;
    color: #222222;
}
/*底部按钮样式*/
.foot{
    font-size: 0.28rem;
    text-align: center;
    padding-top: 0.8rem;
    line-height: 0.5rem;
    display: block;
}
.sumbit{
    line-height: 1.0rem;
    font-size: 0.32rem;
    padding: 0.15rem 2.0rem;
    color: #0f0f0f;
    border-radius: 0.35rem;
    border: 0.02rem solid #848484;
}